.navbar{
    text-align: center;
    background: rgb(148,187,233);
    background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%); 
    color: #fff;
    height:10vh;
    /*text appear on center*/
    display: flex;
    justify-content: center;
    align-items: center;
}